<main>
  <section id="home" data-z-index="1" data-parallax="scroll" data-image-src="https://res.cloudinary.com/overdrive/image/upload/v1556266789/images/raidadata.com/banner_bg2.png">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first">
          <h1 class="mb-4">
            <strong>RAIDA DATA</strong> is the next generation <strong>data transfer</strong> and <strong>authentication</strong>
          </h1>
          <h5>Secure, Fast, and Affordable Data Transmission</h5>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 order-first">
          <div>
            <img class="w-100" src="https://res.cloudinary.com/overdrive/image/upload/v1556336892/images/raidadata.com/orange_green.png" alt="">
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
    </div>
    
  </section>
  
  <section id="about-raidadata" class="light-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="https://res.cloudinary.com/overdrive/image/upload/v1556274506/images/raidadata.com/rd-info.png" alt="" class="w-100">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text_md_center">
          <h4>About RAIDA DATA</h4>
          <p>RAIDA DATA is the next-generation of data transfer and authentication, providing the only 100% safe and secure data transfer protocol. It simply cannot be hacked, intercepted, compromised or manipulated, even by quantum computers. RAIDA DATA provides real-time transfers at the fastest possible speeds while safeguarding information and respecting the environment.  RAIDA DATA is an enterprise-level data protection toolkit that offers a provisionally-patented, globally-scalable, post-blockchain system that is simple and affordable.</p>
        </div>
      </div>
    </div>
  </section>
  <section id="about-raida">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 text_md_center">
          <h4>What is RAIDA?</h4>
          <p>Each RAIDA (Redundant Array of Independent Detection Agents) network is a series of cloud nodes that authenticate data using provisionally-patented protocols exclusively licensed to RAIDAtech.  RAIDAtech clients can use an existing global RAIDA network or have RAIDAtech create a private network to their specifications.</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <img src="https://res.cloudinary.com/overdrive/image/upload/v1556274506/images/raidadata.com/rd-info.png" alt="" class="w-100">
        </div>
        
      </div>
    </div>
  </section>

  <section id="solutions" class="light-bg">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12 text-center">
          <h4>RAIDA DATA SOLUTIONS</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          
        </div>
      </div>
    </div>
  </section>

</main>