<header id="site-header" class="fixed-top container">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/overdrive/image/upload/v1556270954/images/raidadata.com/logo3.png" alt="logo">
      <span class="name">RAIDADATA</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-container" aria-controls="navbar-nav-container" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-nav-container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#site-header">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#solutions">SOLUTIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</header>